In [1]:
import cx_Oracle
import matplotlib as mpl # 그래프 옵션
import matplotlib.pyplot as plt # 그래프 출력
import pandas as pd

cx_Oracle.init_oracle_client(lib_dir="/Users/ijaehun/Downloads/instantclient_19_8")
connection = cx_Oracle.connect(user="admin", password="Chldudcjf12!", dsn="db20220709105045_low")
cursor = connection.cursor()

In [21]:
def salesByWeek(year, svc_nm, cd_nm):
    cursor.execute("SELECT SUM(MON_SELNG_AMT), " +
                   "SUM(TUES_SELNG_AMT), " +
                   "SUM(WED_SELNG_AMT), " +
                   "SUM(THUR_SELNG_AMT), " +
                   "SUM(FRI_SELNG_AMT), " +
                   "SUM(SAT_SELNG_AMT), " + 
                   "SUM(SUN_SELNG_AMT) " +
                "FROM SALES " +
                "WHERE stdr_yy_cd = " + str(year) + " AND " +
                      "svc_induty_cd_nm = " + "'" + svc_nm + "'" + " AND " +
                      "TRDAR_CD_NM = " + "'" + cd_nm + "'")
    rows = cursor.fetchall()
    colname =cursor.description
    col=[]

    for i in colname:
        col.append(i[0])
    salesByWeek = pd.DataFrame(rows, columns=col)
    
    return salesByWeek

In [22]:
salesByWeek(2018, '한식음식점', '서울대병원')

,SUM(MON_SELNG_AMT),SUM(TUES_SELNG_AMT),SUM(WED_SELNG_AMT),SUM(THUR_SELNG_AMT),SUM(FRI_SELNG_AMT),SUM(SAT_SELNG_AMT),SUM(SUN_SELNG_AMT)
0,836205161,883809909,914199542,890937621,915040292,498579975,193158645

In [ ]:
df = sales[['STDR_YY_CD','SVC_INDUTY_CD_NM']]
df

In [ ]:
df.loc[df['STDR_YY_CD']==2018]

In [ ]:
df.loc[(df['STDR_YY_CD']==2018) & (df['SVC_INDUTY_CD_NM']=='커피-음료')]