In [1]:
pip install cx_Oracle --upgrade

Requirement already satisfied: cx_Oracle in /Users/ijaehun/opt/anaconda3/lib/python3.9/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import cx_Oracle

In [3]:
cx_Oracle.init_oracle_client(lib_dir="/Users/ijaehun/Downloads/instantclient_19_8")

In [4]:
connection = cx_Oracle.connect(user="admin", password="Chldudcjf12!", dsn="db20220709105045_low")

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute("select * from USER_TB")
rows = cursor.fetchall()   # 리턴한 객체를 한번에 리턴시킨다.
for row in rows:
    print(row)

(6, 'jaehun6004', '82B69D380FF22A74DC4F7464771BCD96', 'chris', 'jaehun6004@gmail.com', '남', datetime.datetime(1992, 10, 9, 0, 0), '01095561797', '서울시', '관악구', '신림동', '이재훈')
(21, 'ok', '555587683DEE46A527E6B5E4B0036496', '이돌돌', 'ojh8686@naver.com', '남', datetime.datetime(1995, 8, 11, 0, 0), '01071955266', None, None, None, '이돌돌')
(30, 'gpdla233', '879B99CFE2029920362E0726B837E0FB', 'young', 'youngcher1@naver.com', '남', datetime.datetime(2022, 8, 10, 0, 0), '01072270707', '서울시', '성동구', '성수동', '최영철')
(31, 'chldudcjf12', '879B99CFE2029920362E0726B837E0FB', 'youngcer', 'youngcher1@naver.com', '남', datetime.datetime(2022, 8, 10, 0, 0), '01072270707', '서울시', '성동구', '성수동', '최영철')
(27, 'ccc', '879B99CFE2029920362E0726B837E0FB', 'ccc', 'youngcher1@naver.com', '남', datetime.datetime(2022, 8, 8, 0, 0), '01072270707', '서울시', '성동구', '신림동', '최영철')
(24, 'chlgpdla233', '5C7AC682091BE84886487D0A76B36A7D', 'himing', 'youngcher1@naver.com', '여', datetime.datetime(1994, 6, 18, 0, 0), '01028337942', '서울시', '성동구', '성수동', '최혜임')

In [7]:
import matplotlib as mpl # 그래프 옵션
import matplotlib.pyplot as plt # 그래프 출력